html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --c-1: purple;
    --c-2: #fff;
    /* make gray (kinda) */
}

body {
    background-color: var(--c-1);
    color: var(--c-2);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    width: 25px;
    height: 25px;
}

a {
    color: #fff;
}