html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --c-1: purple;
    --c-2: #fff;
}

body {
    background-color: var(--c-1);
    color: var(--c-2);

    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

svg {
    width: 25px;
    height: 25px;
}

a {
    color: #fff;
}

#hero {
    background-color: dodgerblue;
}

.error {
    background-color: red;
    padding: 1rem;
    font-size: 14px;

    max-width: 320px;
}

.chat {
    background-color: green;
    width: 300px;
    display: flex;
    justify-content: space-between;
    color: black;
}